// Primary Color
$primary-100:  #c70039;
$primary-200: #df00cc;
$primary-300: #ffdc15;
$primary-400: #002fff;


// Secondary
$secondary-100: #05B2DC;
$secondary-200:  #81E6FF;
$secondary-300:#F5FCFE;

// Black & White
$black: #000000;
$white: #ffffff;

//// gradien background

$gradient-background :linear-gradient(to right , $secondary-200, $secondary-100);

//Borders
$border-1: 1px solid $secondary-100;

$border-radius-1: 5px;

//Shadows
$shadow-1:0px 5px 30px rgba(27, 203, 245, 0.3);;

//Font-Sizes
$size-xx-small: 14px;
$size-x-small: 15px;
$size-small: 16px;
$size-regular: 18px;
$size-medium: 20px;
$size-larg: 24px;
$size-x-larg: 32px;
$size-xx-larg: 45px;

// Breakpoint
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
