footer{
    padding-top: 140px;
    text-align: center;
    padding-bottom: 30px;
  
    .social-media{
    
        a{
            padding-left: 14px;
           
            .facebook,.instagram,.twitter{
                max-width: 50px;
                &:hover{
                    max-width: 60px;
                    transition: ease-out 0.5s;
                }
            }
            .github{
                width: 50px;
                &:hover{
                    width: 60px;
                    transition: ease-out 0.5s;
                }
            }
            .linkdin{
                width: 55px;
                &:hover{
                    width: 65px;
                    transition: ease-out 0.5s;
                }
            }
            
        }

    }
    p{
        padding-top: 40px !important;
    }
    .fa-arrow-up{
        font-size: 20px;
        border-radius: 50%;
        padding: 10px 12px;
        background-color: var(--color1);
        cursor: pointer;
        color: white;
        transition: all 0.5s ease-out 0s;
        &:hover{
            color:  var(--color1);
            background-color: white;
        }
        }
}